{% extends 'base.html' %}

{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<main class="container text-center mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4 font-weight-light">If we can help you, please let us know</h2>
            <p class="lead">Please email us with any questions, concerns, or comments at <a href="mailto:helptono@gmail.com" class="text-primary font-weight-bold">helptono@gmail.com</a></p>
            <p class="lead">Or call/text any (or all) of us. We're here to support you.</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{% static 'images/tono.png' %}" alt="Matt" class="card-img-top img-fluid" style="max-height: 300px; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text">Matt<br><strong>+1 (614) 704-6395</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{% static 'images/tono.png' %}" alt="Henry" class="card-img-top img-fluid" style="max-height: 300px; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text">Henry<br><strong>+1 (571) 230-6819</strong></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
