{% extends 'base.html' %}
{% load socialaccount %}
{% load django_bootstrap5 %}

{% block title %}Login - Murtle{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="mb-0">Login</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}" novalidate>
                        {% csrf_token %}

                        <!-- Display non-field specific errors -->
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {% if form.username.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.username.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {% if form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.password.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-google btn-block">
                            <i class="fab fa-google me-2"></i> Log in with Google
                        </a>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                        <br>
                        <a href="{% url 'register' %}">New to Murtle? Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
