{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}    
    <main>
        <div class="contact-options">
            <div class="contact-option">
                <h2>Email Us</h2>
                <p>Need help? Send us an email and we will get back to you as soon as possible.</p>
                <a href="mailto:brorsenhj@gmail.com">Email now ></a>
            </div>
            <div class="contact-option">
                <h2>Call Us</h2>
                <p>Need immediate assistance? Give us a call and we will be happy to help.</p>
                <p>+1 (571) 230-6819</p>
                <p>When? When you need us. Hayden is your boy.</p>
                <p>If we don't pick up, please leave a voicemail and we'll respond as soon as possible.</p>
                <a href="tel:15712306819">Call now ></a>
            </div>
        </div>
    </main>
{% endblock %}