# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.zip

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
staticfiles/

# If you are using Django's SECRET_KEY setting stored in a file
# secret_key.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django specific
local_settings.py

# pyenv
.python-version

# Environments
.env
.env.local
.env.production
.env.test

# pyrebase credentials
firebase_credentials.json

# Editor and IDE specific files
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook files
.ipynb_checkpoints.venv/
